<nav id="menu">
	<h2>Menu</h2>
	<ul>

		{% for page in site.pages %}
		{% if page.path == "index.html" %}
		<li><a href="{{ page.url | prepend: site.baseurl | remove: 'index.html' }}">{{ page.title }}</a></li>
		{% endif %} {% endfor %}

		{% if page.url != "/" %}
			{% for p in site.pages %}
				{% if p.title == "faro music group" %}
					<li><a href="{{ p.url | prepend: site.baseurl }}">HOME</a></li>
					{% break %}
				{% endif %}
			{% endfor %}
		{% endif %}

		{% for p in site.pages %}
			{% if p.title and p.title != "faro music group" %}
				<li><a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
			{% endif %}
		{% endfor %}

	</ul>
</nav>
