<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}
    <div class="title-container" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
      <h1 style="margin: 0;">{{ page.display-title }}</h1>
    </div>

    
    {% if page.featured-image %}
      <span class="image main">
        <img src="{{ page.featured-image }}" alt="">
      </span>
    {% endif %}
        
    <section>
      <div class="body">
        {{ content }}
      </div>
    </section>
    {% include footer.html %}


</body>

</html>
